.ItemDetail{
    display: flex;
    /* padding: 15px;
    margin-left: 25%; */
    width: 50%;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    margin: 20px;
    
}
.detail{
    display: flex;
}

.price{
    color: #262322;
}

.title{
    color: #000;
}
.img{
    width: 22rem;
    padding-top: 120px;
    border-radius: 20px;
    padding-left: 10px;
}
.ContImg{
    display: inline;
    width: 400px;
}
.ContInfo{
    display: inline;
    margin: 10px;
}
.category{
    color: #cc9a02;
    font-size: 20px;
    margin: 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
}
.stock {
    color: #cc9a02;
    font-size: 20px;
    margin-bottom: 5px;
}
.description{
    margin-left: 50px;
    display: block;
    font-size: 20px;
    color: #cc9a02;
}
.thanks{
    margin: 2px;
    margin-top: 5px;
    text-decoration: none;
    color: #262322;
    font-size: medium;
}

.btnBack{
    padding: 10px;
}