.CounterContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CounterSoonContainer{
        width: 70%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
      /*   margin-top: 20px; */
    }


    .countBtn{
        cursor: pointer;
        color: white;
        background-color: #26232299;
        margin: 10px;
        font-size: 90%;
        font-weight: lighter;
        border: none;
        border-radius: 10px;
    }
.cartBtn{
        cursor: pointer;
        background-color: inherit;
        margin: 10px;
        width: 100px;
        height: 80px;
        border-radius: 10px;
        margin-bottom: 10px;
        color: #262322;
    }

    .counter{
        color: #cc9a02;
    }