.CounterContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CounterSoonContainer{
        width: 70%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
      /*   margin-top: 20px; */
    }


    .countBtn{
        cursor: pointer;
        width: 100%;
        background-color: inherit;
        font-size: medium;
        font-weight: bold;
        margin: 3px;
    }
.cartBtn{
        cursor: pointer;
        background-color: inherit;
        margin: 4px;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 10px;
        color: #262322;
        font-size: medium;
        font-weight: bold;
    }

    p{
        color: #262322;
    }