div{
    display: inline;
}
.Cart{
    color: rgb(0, 0, 0);
    width: 30px;
}

.Cart:hover, a:hover{
    cursor: pointer;
}
.CartWidget{
    padding-left: 3px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

ul, li{
    display: inline;
    list-style:none;
}
.a{
    padding-left: 5px;
}