body{
  margin: 0px;
  padding: 0px;
  font-family: 'SoDo Sans',Helvetica,Arial,sans-serif;
  background-image: url(https://img.freepik.com/free-vector/coffee-beans-seamless-pattern-sketch-style_1182-1332.jpg?w=900&t=st=1661791882~exp=1661792482~hmac=4533194b193f98eb851d557ade68b0705f491bd9214b3819f8d9622034f91ce4);
  min-height: 100vh;
  background-size: contain;
}
.App-header {
/*   background-color: #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

